@import "tailwindcss";

.country-card{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
 
}


@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-primary: #2F6FED;
}

@layer base {
  a {
    @apply mr-5 font-medium text-gray-600 hover:text-gray-900 focus:text-primary;
  }
  ::selection{
    @apply bg-primary text-white
  }
}
@layer utilities{
  .country-details{
    @apply text-gray-900 mb-0.5 text-[1.1rem]
  }
  .country-values{
    @apply italic text-[0.9rem] text-gray-600
  }
}
